
2016-10_Geo-Ann-Project/data/Panopea_generosa.scafSeq

2016-10_Geo-Ann-Project/data/Panopea_generosa.scafSeq.zip

2016-10_Geo-Ann-Project/data/Panopea_generosa_No-Line-Breaks.scafSeq

2016-10_Geo-Ann-Project/data/Geoduck-transcriptome-v3.fa
2016-10_Geo-Ann-Project/analyses/GeoTrans-PhelDiffExp_blasted

2016-10_Geo-Ann-Project/analyses/Phel_DEGlist-Transcriptome_Galaxy8Merged.fasta

2016-10_Geo-Ann-Project/data/Geoduck-transcriptome-v3annotated.fa

2016-10_Geo-Ann-Project/data/Geo_Pool_F_GGCTAC_L006_R1_001_val_2.fq

2016-10_Geo-Ann-Project/data/Geo_Pool_F_GGCTAC_L006_R2_001_val_1.fq
2016-10_Geo-Ann-Project/analyses/Panopea_generosascaff-70k_gonadF_bowtie.bam
2016-10_Geo-Ann-Project/analyses/Panopea_generosascaff-70k_gonadF_bowtie.sam
2016-10_Geo-Ann-Project/analyses/Panopea_generosascaff-70k_gonadF_bowtie-sorted.bam

2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0000.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0001.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0002.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0003.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0004.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0005.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0006.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0007.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0008.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0009.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0010.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0011.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0012.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0013.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0014.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0015.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0016.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0017.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0018.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0019.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0020.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0021.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0022.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0023.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0024.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0025.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0026.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0027.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0028.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0029.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0030.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0031.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0032.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0033.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0034.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0035.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0036.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0037.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0038.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0039.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0040.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0041.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0042.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0043.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0044.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0045.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0046.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0047.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0048.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0049.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0050.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0051.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0052.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0053.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0054.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0055.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0056.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0057.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0058.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0059.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0060.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0061.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0062.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0063.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0064.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0065.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0066.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0067.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0068.bam
2016-10_Geo-Ann-Project/data/Panopea_generosascaff-70k_gonadF_bowtie-sorted.0069.bam.fq
