
2016-10_Geo-Ann-Project/data/Panopea_generosa.scafSeq
2016-10_Geo-Ann-Project/data/Panopea_generosa.scafSeq.zip
2016-10_Geo-Ann-Project/data/Panopea_generosa_No-Line-Breaks.scafSeq
2016-10_Geo-Ann-Project/data/Geoduck-transcriptome-v3.fa
2016-10_Geo-Ann-Project/analyses/GeoTrans-PhelDiffExp_blasted
2016-10_Geo-Ann-Project/analyses/Phel_DEGlist-Transcriptome_Galaxy8Merged.fasta
2016-10_Geo-Ann-Project/data/Geoduck-transcriptome-v3annotated.fa
*.fq
*.bam
*.DS_Store
*.sam
